.block-popular {
  margin-top: 53px;

  @media (min-width: $desktop) {
    margin-top: 50px;
    padding-left: 16px; //чтобы не трогать .container
    padding-right: 16px;
  }
}

.block-popular__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: $desktop) {
    // gap: 37px;
  }
}
.block-popular__content {
  width: 100%;

  @media (min-width: $desktop) {
    max-width: 1107px;
    flex-grow: 70;
  }
}
.block-popular__sidebar {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    margin-top: 63px;
    padding: 25px;
    flex-grow: 30;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(#000000, 0.1);
  }
}

.block-popular__carousel {
  margin-bottom: 34px;

  @media (min-width: $desktop) {
    margin-bottom: 41px;
  }
}

.block-popular__filter {

}
