.landingTop__arts {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 116.35vw;
  max-width: 571px;
  bottom: 30px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  cursor: pointer;
}
.landingTop__arts__inner {
  padding-bottom: 98.57%;
}
@media screen and (min-width: 768px) {
  .landingTop__arts {
    width: 46.69vw;
    max-width: 558px;
    bottom: 0;
    right: 29%;
  }
}
.landingTop__hearts, .landingTop__mail, .landingTop__open_me {
  position: absolute;
  width: 100%;
  height: 100%;
}
.landingTop__hearts > svg, .landingTop__mail > svg, .landingTop__open_me > svg {
  width: 100%;
  height: 100%;
}
.landingTop__hearts {
  -webkit-animation: animateHeart 3s infinite;
          animation: animateHeart 3s infinite;
}
.landingTop__mail {
  -webkit-animation: fromBottom 2s cubic-bezier(0.14, 0.58, 0.12, 1.13) forwards;
          animation: fromBottom 2s cubic-bezier(0.14, 0.58, 0.12, 1.13) forwards;
}
.landingTop__open_me {
  -webkit-animation: fadeIn 2s linear forwards;
          animation: fadeIn 2s linear forwards;
}

.landingModal {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(44, 5, 63, 0.9);
  z-index: 100;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: 0.2s ease-out all;
  -o-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all;
  visibility: hidden;
  opacity: 0;
}
.landingModal_isVisible {
  visibility: visible;
  opacity: 1;
}
.landingModal_isVisible .landingModal__inner {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.landingModal__inner {
  position: absolute;
  width: 95%;
  max-width: 512px;
  min-height: 295px;
  background: -o-linear-gradient(318.07deg, #D23694 2.59%, #920895 98.44%);
  background: linear-gradient(131.93deg, #D23694 2.59%, #920895 98.44%);
  border: 6.39846px solid #790877;
  border-radius: 38.3908px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 68px #9D1EA3;
          box-shadow: 0px 4px 68px #9D1EA3;
  padding: 25px 42px 8px;
  -webkit-transition: 0.4s ease-out all;
  -o-transition: 0.4s ease-out all;
  transition: 0.4s ease-out all;
}
.landingModal__inner:after, .landingModal__inner:before {
  position: absolute;
  content: "";
  height: 6.4px;
  background: #790877;
  width: 100%;
  top: 57%;
}
.landingModal__inner:before {
  right: 50%;
  -webkit-transform: rotate(27deg);
      -ms-transform: rotate(27deg);
          transform: rotate(27deg);
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.landingModal__inner:after {
  left: 50%;
  -webkit-transform: rotate(-27deg);
      -ms-transform: rotate(-27deg);
          transform: rotate(-27deg);
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
.landingModal__descr {
  margin: auto;
  width: 100%;
  max-width: 310px;
  min-height: 48px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.landingModal__discount {
  font-weight: 800;
  font-size: 42px;
  line-height: 67px;
  text-align: center;
  color: #F6B715;
  margin-bottom: 46px;
}
.landingModal__discount > span {
  position: relative;
  font-size: 20px;
  top: -9px;
}
.landingModal__heart {
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}
.landingModal__heart > svg {
  -webkit-animation: animateHeart 3s infinite;
          animation: animateHeart 3s infinite;
}
.landingModal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.landingModal__promocode {
  width: 192px;
  display: inline-block;
  position: relative;
  font-weight: 900;
  font-size: 18px;
  line-height: 46px;
  text-align: left;
  color: #FFFFFF;
  border: 3px dashed #FFFFFF;
  border-radius: 15px;
  padding: 0 40px 0 21px;
  margin-bottom: 16px;
  cursor: pointer;
  -webkit-transition: 0.1s ease all;
  -o-transition: 0.1s ease all;
  transition: 0.1s ease all;
}
.landingModal__promocode__copy > svg {
  position: absolute;
  right: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.landingModal__promocode__alertCopied {
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  border-radius: 15px;
  background: white;
  text-align: center;
  color: #3E0242;
  font-size: 24px;
  font-weight: 500;
  line-height: 53px;
  -webkit-transition: 2s ease-in opacity;
  -o-transition: 2s ease-in opacity;
  transition: 2s ease-in opacity;
  opacity: 0;
}
.landingModal__promocode__alertCopied_visible {
  -webkit-transition: 0.1s ease-in opacity;
  -o-transition: 0.1s ease-in opacity;
  transition: 0.1s ease-in opacity;
  opacity: 1;
  z-index: 10;
}
.landingModal__link {
  display: inline-block;
  width: 192px;
  margin-bottom: 16px;
}
@media screen and (max-width: 590px) {
  .landingModal__inner:before, .landingModal__inner:after {
    top: 48%;
  }
  .landingModal__heart {
    top: 48%;
  }
  .landingModal__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.BS_button {
  position: relative;
  background: #F6B715;
  color: white;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 52px;
  white-space: nowrap;
  padding: 0 28px;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: 0.08s ease all;
  -o-transition: 0.08s ease all;
  transition: 0.08s ease all;
}
.BS_button > a:hover {
  text-decoration: none;
}
.BS_button:active {
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
}
.BS_button > span {
  position: relative;
}
@media (hover: hover) {
  .BS_button:hover {
    color: #1F1B35;
    cursor: pointer;
  }
}

@-webkit-keyframes fadeIn {
  0%, 70% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0%, 70% {
    opacity: 0;
  }
}
@-webkit-keyframes fromCenter {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fromCenter {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fromBottom {
  0%, 25% {
    -webkit-transform: translateY(100vw);
            transform: translateY(100vw);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fromBottom {
  0%, 25% {
    -webkit-transform: translateY(100vw);
            transform: translateY(100vw);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fromBottomTwo {
  0%, 40% {
    -webkit-transform: translateY(100vw);
            transform: translateY(100vw);
    opacity: 0;
  }
  65% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fromBottomTwo {
  0%, 40% {
    -webkit-transform: translateY(100vw);
            transform: translateY(100vw);
    opacity: 0;
  }
  65% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  5% {
    -webkit-transform: scale(0.975);
            transform: scale(0.975);
  }
  10% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.975);
            transform: scale(0.975);
  }
}
@keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  5% {
    -webkit-transform: scale(0.975);
            transform: scale(0.975);
  }
  10% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.975);
            transform: scale(0.975);
  }
}
/*# sourceMappingURL=landing_header.css.map */
